<div class="overlay" (click)="showAddTask.showAddTask=false"></div>

<div class="container">
  <!-- Header -->
  <div class="header d-flex">
    <h1>Add a New Task</h1>
    <button class="btn btn-close" (click)="showAddTask.showAddTask=false"></button>
  </div>
  <!-- Form Input -->
<div class="modal-body">
    <form class="row g-3" id="addTaskForm" [formGroup]="addTaskForm" (ngSubmit)="onCreate()">
        <div class="col-7">
          <input type="text"  class="form-control" id="inputNewTaskName" maxlength="25" placeholder="Title" formControlName="title">
          <span class="help-block text-danger" *ngIf="addTaskForm.get('title')?.invalid && addTaskForm.get('title')?.touched">Please enter a valid title</span>
        </div>
        <div class="col-md-5">
          <input type="date"  class="form-control" id="inputNewDueDate" formControlName="date" placeholder="Due Date">
        </div>
        <div class="col-7">
          <textarea type="text"  class="form-control" id="inputNewDetails" maxlength="250" placeholder="Description" style="height: 10em;" formControlName="details"></textarea>
        </div>

        <div class="col-md-5 d-flex:inline align-self-center justify-content-evenly">
          <select class="form-select"  aria-label=".form-select" id="inputNewPriority" formControlName="priority" ngModel="Medium">
            <option value="Priority">Priority</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="form-select"  aria-label="Status" id="inputNewStatus" formControlName="status">
            <option selected value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
          </select>
          <div class="d-flex justify-content-evenly">
            <button class="btn btn-secondary" id="cancel" (click)="showAddTask.showAddTask=false">Cancel</button>
            <button type="submit" class="btn btn-success" id="create" (click)="showAddTask.showAddTask=true">Create</button>
          </div>



</div>