
<!-- <app-view-task></app-view-task>
<app-edit-task></app-edit-task> -->

<div class="task-list">
  <div class="header">
    <h1>Task List</h1>
  
    <div class="addtask">
      <app-add-task *ngIf="showAddTask.showAddTask"></app-add-task>
      <button class="btn btn-success" (click)="showAddTask.showAddTask = true">Add Task</button>
    </div>
    
    <div class="filter">
      <label>Filter by: </label>
      <select name="" id=""></select>
      <select name="" id=""></select>
    </div>
  </div>
  
  <table class="task-list-container table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.dueDate }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.status }}</td>
        <td>
          <a href="">
            <img src="../../../assets/Images/view.svg" alt="view">
          </a>
          <a style="cursor: pointer">
            <app-edit-item *ngIf="showEditTask.showEditTask"></app-edit-item>
            <img src="../../../assets/Images/edit.svg" alt="edit"  (click)="showEditTask.showEditTask = true">
          </a>
          <a style="cursor: pointer;">
            <app-delete-item *ngIf="showDeleteTask.showDeleteTask"></app-delete-item>
            <img src="../../../assets/Images/trash.svg" alt="delete" (click)="showDeleteTask.showDeleteTask = true">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>