.overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
  }
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }
  .container{
    z-index: 13;
    margin: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 70%;
    box-shadow: 5px 5px 6px #00000059;
    border-radius: 5px;
    background-color: white;
  }
  
  .form-select {
    margin-bottom: 10px;
  }
  
  #cancel, #create {
  width: 8em;
  }
  
  h1 {
    font-weight: bold;
    margin: 40px 10px 10px 10px;
  }