<div class="task-list content">
  <header>
    <h1>Task List</h1>
  </header>
  
  <div class="heading row">
    <div class="filters col">
      <label>Filter by: </label>
      <div>
        <select name="Status" class="status-filter">
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select>
      </div>

      <div>
        <input type="date"  class="form-control due-date-filter" id="date" placeholder="Due Date">      
      </div>

      <div>
        <select name="Priority" class="priority-filter">
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
      </div>
    </div>
    <div class="addtask">
      <app-add-task *ngIf="showAddTask.showAddTask"></app-add-task>
      <button class="btn btn-success" (click)="showAddTask.showAddTask = true">Add Task</button>
    </div>
  </div>

  <div class="task-list-container">
    <div class="flex-grid">
      <div class="row">
        <div class="col header">Title</div>
        <div class="col header">Due Date</div>
        <div class="col header">Priority</div>
        <div class="col header">Status</div>
        <div class="col header">Actions</div>
      </div>
    </div>
    <div class="row tasks" *ngFor="let task of tasks">
        <div class="col task-item">{{ task.title }}</div>
        <div class="col task-item">{{ task.dueDate }}</div>
        <div class="col task-item">{{ task.priority }}</div>
        <div class="col task-item">{{ task.status }}</div>
        <div class="col task-item">
            <!-- <a class="actions" href="#">
            <img src="../../assets/Images/view.svg" alt="view">
            </a> -->
            <a class="actions" style="cursor: pointer">
            <app-edit-item *ngIf="showEditTask.showEditTask"></app-edit-item>
            <img src="../../assets/Images/edit.svg" alt="edit"  (click)="showEditTask.showEditTask = true">
            </a>
            <a class="actions" style="cursor: pointer;">
              <app-delete-item *ngIf="showDeleteTask.showDeleteTask"></app-delete-item>
            <img src="../../assets/Images/trash.svg" alt="delete" (click)="showDeleteTask.showDeleteTask = true">
            </a>
            
        </div>
      </div>
  </div>
</div>