<div class="task-list content">
  <header>
    <h1>Task List</h1>
  </header>
  
  <div class="addtask">
  <app-add-task *ngIf="showAddTask.showAddTask"></app-add-task>
  <button class="btn btn-success" (click)="showAddTask.showAddTask = true">Add Task</button>
  </div>
  
  <div class="filter">
    <label>Filter by: </label>
    <select name="" id="">Status</select>
    <select name="" id="">Date</select>
    <select name="" id="">Priority</select>
  </div>
  
  <div class="task-list-container">
    <div class="flex-grid">
      <div class="row">
        <div class="col"><h4>Title</h4></div>
        <div class="col"><h4>Due Date</h4></div>
        <div class="col"><h4>Priority</h4></div>
        <div class="col"><h4>Status</h4></div>
        <div class="col"><h4>Actions</h4></div>
      </div>
    </div>
    <div class="row" *ngFor="let task of tasks">
        <div class="col">{{ task.title }}</div>
        <div class="col">{{ task.dueDate }}</div>
        <div class="col">{{ task.priority }}</div>
        <div class="col">{{ task.status }}</div>
        <div class="col">
            <!-- <a class="actions" href="#">
            <img src="../../assets/Images/view.svg" alt="view">
            </a> -->
            <a class="actions" style="cursor: pointer">
            <app-edit-item *ngIf="showEditTask.showEditTask"></app-edit-item>
            <img src="../../assets/Images/edit.svg" alt="edit"  (click)="showEditTask.showEditTask = true">
            </a>
            <a class="actions" style="cursor: pointer;">
              <app-delete-item *ngIf="showDeleteTask.showDeleteTask"></app-delete-item>
            <img src="../../assets/Images/trash.svg" alt="delete" (click)="showDeleteTask.showDeleteTask = true">
            </a>
            
        </div>
      </div>
  </div>
</div>